In [1]:
import pandas as pd

In [4]:
teste = pd.read_csv('teste.csv')

In [5]:
teste

   cpf    name state
0  1.0   ALINE    SP
1  3.0  CAIQUE    RJ
2  4.0    ROSA    MS
3  NaN     NaN    MT
4  NaN     NaN    GO